body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color:whitesmoke;
    color:black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: gold;
}

.operator {
    background-color:#ffc107;
}

.operator:hover {
    background-color: #218838;
}

#equal {
    background-color: #ffc107;
}

#equal:hover {
    background-color: #c82333;
}

#del {
    background-color:whitesmoke;
}

#del:hover {
    background-color: #e0a800;
}